body {
    background-color: black;
    color: white;
    text-align: center;
}

div {
    border: 1px solid #fcc;
    background: #fee;
    padding: 0.5em 1em 0.5em 1em;
    color: black;
}

div#header {
    border: 1px solid #008;
    background: #eef;
}

img, video {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}
